# emacs
*~

# latex
*.log
*.aug
*.out
*.bbl
*.blg
*.aux
*.synctex.gz
ltximg
auto
*_region_.tex

# build & cabal/haskell stuff
_build
_shake
.stack-work
stack.yaml.lock
dist-newstyle

# figs and derived stuff
*.pdf
*.png

# derived data, etc
public_html
bin