facilitator: Adam Massmann (akm2203@columbia.edu)
facilitator: Abby Schroering (abby.schroering@columbia.edu)
first session time: 2020-10-21 14:40
second session time: 2020-10-28 14:40
location: `ZOOM LINK`
hooks link: https://www.routledge.com/Teaching-to-Transgress-Education-as-the-Practice-of-Freedom/hooks/p/book/9780415908085
feedback link: https://pollev.com/adammassmann443
discussion link: https://github.com/massma/teacher-learner-wellbeing/issues
community agreement link: https://docs.google.com/document/d/1Q1T8TvVuFR5UGB3tkQnRpxviP8BKMS9X3j1uNLw5QFA/edit?usp=sharing
collab doc 1 link: https://docs.google.com/document/d/1MNI5cris19PANJOVwfO1ulTDXVTP5QNcTBtEP239o5M/edit?usp=sharing
collab doc 2 link: https://docs.google.com/document/d/10Kguon2fR8t5W1ILTJdXRxIScIaJ9GrUkJHxeQkuUeQ/edit?usp=sharing
fill instructions: False
