facilitator: Abby Schroering (abby.schroering@columbia.edu)
facilitator: Adam Massmann (akm2203@columbia.edu)
first session time: 2020-10-21 14:40
second session time: 2020-10-28 14:40
community agreement link: https://docs.google.com/document/d/1Q1T8TvVuFR5UGB3tkQnRpxviP8BKMS9X3j1uNLw5QFA/edit?usp=sharing
hooks link: https://www.routledge.com/Teaching-to-Transgress-Education-as-the-Practice-of-Freedom/hooks/p/book/9780415908085
